<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="memberList" resultType="com.myshop.dto.MemberDTO">
		select * from member
	</select>

	<select id="memberCount" resultType="integer">
		select count(*) from member
	</select>
	
	<select id="getMember" resultType="com.myshop.dto.MemberDTO">
		select * from member where cid=#{cid}
	</select>
	
	<select id="loginMember" resultType="com.myshop.dto.MemberDTO">
		select * from member where cid=#{cid}
	</select>
	
	<select id="checkExistMember" resultType="integer">
		select count(*) from member where cid=#{cid}
	</select>
	
	<select id="emailCheck" resultType="com.myshop.dto.MemberDTO">
		select * from member where cmail=#{cmail}
	</select>

	<select id="phoneCheck" resultType="com.myshop.dto.MemberDTO">
		select * from member where ctel=#{ctel}
	</select>
	
	<insert id="joinMember">
	insert into member(cid, cpw, cpw2, cname, cbirth, ctel, cmail, cadd1, cadd2, grade) values 
	(#{cid}, #{cpw},#{cpw2}, #{cname}, #{cbirth}, #{ctel}, #{cmail}, #{cadd1}, #{cadd2},#{grade})
	</insert>
	
	<delete id="deleteMember">
		delete from member where cid=#{cid}
	</delete>	
	
	<update id="updateMember">
		update member set cpw=#{cpw}, cpw2=#{cpw2}, cname=#{cname}, cbirth=#{cbirth}, ctel=#{ctel}, 
		cmail=#{cmail}, cadd1=#{cadd1}, cadd2=#{cadd2}, grade=#{grade} where cid=#{cid}		
	</update>
</mapper>